<!-- SNSシェアボタン -->
	<ul id="snsBTN">
			<li><a href="http://b.hatena.ne.jp/entry/http://shiori.net/" class="hatena-bookmark-button" data-hatena-bookmark-title="おれたちのしおり作成サービス" data-hatena-bookmark-layout="standard-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
			<li><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fshiori.net%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=214798108664687" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></li>
			<li><a href="https://twitter.com/share" class="twitter-share-button" data-text="イベントの企画・計画をしおりにしちゃうぞ☆(ゝω・)v旅行・パーティー・記念日に大活躍のしおりを作ろう！ - おれたちのしおり" data-lang="ja">ツイート</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
	</ul>
<!-- //SNSシェアボタン -->